

#background {
    background-image: url(./gym_images/girl-staring-into-mirror-50.jpg);
    background-size: 100% 100%;
    height: 100vh;
}

@media (min-width:992px){
    #background {
        margin-top: -208px;
    }
}

.bg-about{
    z-index: -1;
    position: fixed;
    margin-top: -850px;
    max-width: 100%;
    height: auto;
}

.bg-out{
    z-index: -1;
    position: fixed;
    margin-top: -275px;
    max-width: 100%;
    height: auto;
}
.bg-in {
    z-index: -1;
    position: fixed;
    margin-top: -600px;
    max-width: 100%;
    height: auto;
}
